In [136]:
import pandas as pd

df1=pd.read_csv('transfer_window2018.csv', sep=';')
df2=pd.read_csv('transfer_window2019.csv', sep=';')
df3=pd.read_csv('transfer_window2020.csv', sep=';')
df4=pd.read_csv('transfer_window2021.csv', sep=';')
df5=pd.read_csv('transfer_window2022.csv', sep=';')

frames=[df1,df2,df3,df4,df5]

df=pd.concat(frames)
df.reset_index(inplace=True)
df = df.iloc[: , 2:]
df = df.drop(index=df.iloc[144].name)
df

,name,position,age,market_value,country_from,league_from,club_from,country_to,league_to,club_to,fee,year
0,Kylian Mbappé,Centre-Forward,19,120000000,Monaco,Ligue 1,AS Monaco,France,Ligue 1,Paris Saint-Germain,180000000,2018
1,Cristiano Ronaldo,Centre-Forward,33,100000000,Spain,LaLiga,Real Madrid,Italy,Serie A,Juventus FC,117000000,2018
2,Kepa Arrizabalaga,Goalkeeper,23,20000000,Spain,LaLiga,Athletic Bilbao,England,Premier League,Chelsea FC,80000000,2018
3,Thomas Lemar,Attacking Midfield,22,65000000,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Atlético de Madrid,72000000,2018
4,Riyad Mahrez,Right Winger,27,50000000,England,Premier League,Leicester City,England,Premier League,Manchester City,67000000,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
2970,Pedro Raul,Centre-Forward,26,6000000,Japan,J1 League,Kashiwa Reysol,Brazil,Carioca - Taça Guanabara,Clube de Regatas Vasco da Gama,1000000,2022
2971,Daniel Wass,Right-Back,33,6000000,Spain,LaLiga,Atlético de Madrid,Denmark,Superligaen,Bröndby IF,1000000,2022
2972,Amadou Diawara,Defensive Midfield,25,6000000,Italy,Serie A,AS Roma,Belgium,Jupiler Pro League,RSC Anderlecht,1000000,2022
2973,Marc Bartra,Centre-Back,31,6000000,Spain,LaLiga,Real Betis Balompié,Turkey,Süper Lig,Trabzonspor,1000000,2022
2974,Lorenzo Lucca,Centre-Forward,21,6000000,Italy,Serie B,Pisa Sporting Club,Netherlands,Eredivisie,Ajax Amsterdam,1000000,2022

In [137]:
#create others variable to group leagues not in top5 countries
general_position=[]
for index, row in df.iterrows():
    value = row['position']
    defense=['Right-Back','Left-Back','Centre-Back']
    midfield=['Central Midfield','Defensive Midfield','Right Midfield','Left Midfield','Attacking Midfield']
    attack=['Second Striker','Centre-Forward','Left Winger','Right Winger']
    if value in defense:
        value='Defense'
    if value in midfield:
        value='Midfield' 
    if value in attack:
        value='Attack'
    if value=='Goalkeeper':
        pass
    general_position.append(value)


df['General_Position']=general_position

In [138]:
lst=['Premier League', 'Ligue 1','Bundesliga','Serie A', "LaLiga"]
league_from=[]
for index,row in df.iterrows():
    if row['league_from'] not in lst:
       league_from.append('Others')
    else:
       league_from.append(row['league_from']) 

    
df['league_from']=league_from

In [139]:
league_to=[]
for index,row in df.iterrows():
    if row['league_to'] not in lst:
       league_to.append('Others')
    else:
       league_to.append(row['league_to']) 

    
df['league_to']=league_to

In [140]:
df['fee'] = df['fee'].str.replace('k','000')
df['fee'] = df['fee'].str.replace('free transfer','0')
df['fee'] = df['fee'].str.replace('loan transfer','0')
df['fee'] = df['fee'].str.replace('?','0')
df['fee']=df['fee'].astype('int')

C:\Users\Matteo\AppData\Local\Temp\ipykernel_7716\1130460793.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['fee'] = df['fee'].str.replace('?','0')

In [ ]:
df['age']=df['age'].astype('int')

In [148]:
df['market_value'] = df['market_value'].str.replace('k','000')

for idx, row in df.iterrows():
    if row['market_value'] == '-':
        df.loc[idx, 'market_value'] = row['fee']

In [152]:
df.to_csv('transfer_window.csv')

In [151]:
print("NaNs:")
display(df.isnull().sum())
print("\n\nDuplicates:")
display(df.duplicated().sum())

NaNs:

name                  0
position              0
age                   0
market_value        475
country_from          0
league_from           0
club_from             0
country_to            0
league_to             0
club_to               0
fee                   0
year                  0
General_Position      0
dtype: int64

Duplicates:

20